USE [master]
GO
/****** Object:  Database [alfa_v2_ef_green_db]    Script Date: 30.10.2016 20:38:49 ******/
CREATE DATABASE [alfa_v2_ef_green_db]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'alfa_v2_ef_green_db', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLSERVER2012\MSSQL\DATA\alfa_v2_ef_green_db.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'alfa_v2_ef_green_db_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLSERVER2012\MSSQL\DATA\alfa_v2_ef_green_db_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [alfa_v2_ef_green_db].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [alfa_v2_ef_green_db]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 30.10.2016 20:38:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[AccountTypes]    Script Date: 30.10.2016 20:38:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[AccountTypes](
	[AccountTypeID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
 CONSTRAINT [PK_dbo.AccountTypes] PRIMARY KEY CLUSTERED 
(
	[AccountTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 30.10.2016 20:38:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Customers](
	[CustomerID] [int] IDENTITY(1,1) NOT NULL,
	[ContactName] [varchar](50) NOT NULL,
	[CompanyName] [varchar](50) NOT NULL,
	[Address] [varchar](100) NULL,
	[Email] [varchar](50) NOT NULL,
	[Phone] [varchar](25) NOT NULL,
 CONSTRAINT [PK_dbo.Customers] PRIMARY KEY CLUSTERED 
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 30.10.2016 20:38:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Employees](
	[EmployeeID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [varchar](50) NOT NULL,
	[LastName] [varchar](50) NOT NULL,
	[AcoountTypeID] [int] NOT NULL,
	[Phone] [varchar](25) NOT NULL,
	[Email] [varchar](80) NOT NULL,
	[Password] [varchar](80) NOT NULL,
 CONSTRAINT [PK_dbo.Employees] PRIMARY KEY CLUSTERED 
(
	[EmployeeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ProjectEmployees]    Script Date: 30.10.2016 20:38:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProjectEmployees](
	[Employee_EmployeeID] [int] NOT NULL,
	[Project_ProjectID] [int] NOT NULL,
 CONSTRAINT [PK_dbo.ProjectEmployees] PRIMARY KEY CLUSTERED 
(
	[Project_ProjectID] ASC,
	[Employee_EmployeeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Projects]    Script Date: 30.10.2016 20:38:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Projects](
	[ProjectID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](100) NOT NULL,
	[Description] [varchar](max) NOT NULL,
	[EmployeeID] [int] NOT NULL,
	[ProjectStatus] [bit] NULL,
	[CustomerID] [int] NOT NULL,
	[GenerateDate] [datetime] NOT NULL,
	[DeadLine] [datetime] NOT NULL,
	[StartDate] [datetime] NULL,
	[EndDate] [datetime] NULL,
	[SituaitionID] [int] NULL,
	[Taskk_TaskID] [int] NULL,
 CONSTRAINT [PK_dbo.Projects] PRIMARY KEY CLUSTERED 
(
	[ProjectID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Situaitions]    Script Date: 30.10.2016 20:38:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Situaitions](
	[SituationID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](25) NOT NULL,
 CONSTRAINT [PK_dbo.Situaitions] PRIMARY KEY CLUSTERED 
(
	[SituationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Taskks]    Script Date: 30.10.2016 20:38:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Taskks](
	[TaskID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](max) NOT NULL,
	[Description] [varchar](max) NOT NULL,
	[ProjectID] [int] NOT NULL,
	[SituaitionID] [int] NOT NULL,
	[StartDate] [datetime] NOT NULL,
	[EndDate] [datetime] NOT NULL,
	[EmployeeID] [int] NULL,
	[ManagerID] [int] NOT NULL,
	[RequestType] [varchar](25) NULL,
	[RequestTypeDescription] [varchar](500) NULL,
 CONSTRAINT [PK_dbo.Taskks] PRIMARY KEY CLUSTERED 
(
	[TaskID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[AccountTypes] ON 

INSERT [dbo].[AccountTypes] ([AccountTypeID], [Name]) VALUES (1, N'Proje Yöneticisi')
INSERT [dbo].[AccountTypes] ([AccountTypeID], [Name]) VALUES (2, N'Takım Lideri')
INSERT [dbo].[AccountTypes] ([AccountTypeID], [Name]) VALUES (3, N'İş Analisti')
SET IDENTITY_INSERT [dbo].[AccountTypes] OFF
SET IDENTITY_INSERT [dbo].[Customers] ON 

INSERT [dbo].[Customers] ([CustomerID], [ContactName], [CompanyName], [Address], [Email], [Phone]) VALUES (3, N'Aydın Ayaydın', N'Bilge Adam', N'BAKIRKÖY', N'aydin.ayaydin@hotmail.com', N'8508884141')
INSERT [dbo].[Customers] ([CustomerID], [ContactName], [CompanyName], [Address], [Email], [Phone]) VALUES (4, N'Burcu ENGİN', N'Microsoft', N'Levent', N'burcu.engin@hotmail.com', N'(646) 532-3123')
INSERT [dbo].[Customers] ([CustomerID], [ContactName], [CompanyName], [Address], [Email], [Phone]) VALUES (6, N'Emre ALDEMİR', N'Ülker', N'Mecidiyeköy', N'emre.aldemir@hotmail.com', N'(234) 234-2342')
SET IDENTITY_INSERT [dbo].[Customers] OFF
SET IDENTITY_INSERT [dbo].[Employees] ON 

INSERT [dbo].[Employees] ([EmployeeID], [FirstName], [LastName], [AcoountTypeID], [Phone], [Email], [Password]) VALUES (1, N'Gürkan', N'FİDAN', 1, N'5555554141', N'gfidan@hotmail.com', N'1234')
INSERT [dbo].[Employees] ([EmployeeID], [FirstName], [LastName], [AcoountTypeID], [Phone], [Email], [Password]) VALUES (2, N'Ayça', N'CALAYIR', 2, N'4151', N'ayca.clyr@gmail.com', N'ayca')
INSERT [dbo].[Employees] ([EmployeeID], [FirstName], [LastName], [AcoountTypeID], [Phone], [Email], [Password]) VALUES (3, N'Toni', N'DEMİRCİ', 3, N'4141', N'toni.dmrc@gmail.com', N'123')
SET IDENTITY_INSERT [dbo].[Employees] OFF
INSERT [dbo].[ProjectEmployees] ([Employee_EmployeeID], [Project_ProjectID]) VALUES (1, 1)
INSERT [dbo].[ProjectEmployees] ([Employee_EmployeeID], [Project_ProjectID]) VALUES (1, 2)
INSERT [dbo].[ProjectEmployees] ([Employee_EmployeeID], [Project_ProjectID]) VALUES (2, 2)
SET IDENTITY_INSERT [dbo].[Projects] ON 

INSERT [dbo].[Projects] ([ProjectID], [Name], [Description], [EmployeeID], [ProjectStatus], [CustomerID], [GenerateDate], [DeadLine], [StartDate], [EndDate], [SituaitionID], [Taskk_TaskID]) VALUES (1, N'Arayanlardan', N'siz alıcıları aramak yerine alıcılar size ulaşsın', 4, 0, 3, CAST(N'2016-10-24 00:00:00.000' AS DateTime), CAST(N'2016-11-10 00:00:00.000' AS DateTime), NULL, NULL, 2, NULL)
INSERT [dbo].[Projects] ([ProjectID], [Name], [Description], [EmployeeID], [ProjectStatus], [CustomerID], [GenerateDate], [DeadLine], [StartDate], [EndDate], [SituaitionID], [Taskk_TaskID]) VALUES (2, N'Veteriner', N'veteriner sitesi', 1, 0, 3, CAST(N'2016-10-24 00:00:00.000' AS DateTime), CAST(N'2016-11-11 00:00:00.000' AS DateTime), NULL, NULL, 2, NULL)
INSERT [dbo].[Projects] ([ProjectID], [Name], [Description], [EmployeeID], [ProjectStatus], [CustomerID], [GenerateDate], [DeadLine], [StartDate], [EndDate], [SituaitionID], [Taskk_TaskID]) VALUES (3, N'Avukatlık Bürosu', N'avukatlık büroları için paket siteler çıkartılacak', 2, 0, 3, CAST(N'2016-10-24 00:00:00.000' AS DateTime), CAST(N'2016-11-14 00:00:00.000' AS DateTime), NULL, NULL, 2, NULL)
SET IDENTITY_INSERT [dbo].[Projects] OFF
SET IDENTITY_INSERT [dbo].[Situaitions] ON 

INSERT [dbo].[Situaitions] ([SituationID], [Name]) VALUES (1, N'Başlamadı')
INSERT [dbo].[Situaitions] ([SituationID], [Name]) VALUES (2, N'Geliştirilecek')
INSERT [dbo].[Situaitions] ([SituationID], [Name]) VALUES (3, N'Test Edilecek')
SET IDENTITY_INSERT [dbo].[Situaitions] OFF
SET IDENTITY_INSERT [dbo].[Taskks] ON 

INSERT [dbo].[Taskks] ([TaskID], [Name], [Description], [ProjectID], [SituaitionID], [StartDate], [EndDate], [EmployeeID], [ManagerID], [RequestType], [RequestTypeDescription]) VALUES (1, N'Sayfa 404 düşüyor', N'bazı sayfaların tekrar kontrol edilmesi gerek', 1, 2, CAST(N'2016-10-30 00:00:00.000' AS DateTime), CAST(N'2016-11-05 00:00:00.000' AS DateTime), 5, 1, N'İstek', N'acil kontrol edilecek')
INSERT [dbo].[Taskks] ([TaskID], [Name], [Description], [ProjectID], [SituaitionID], [StartDate], [EndDate], [EmployeeID], [ManagerID], [RequestType], [RequestTypeDescription]) VALUES (2, N'Eksik Tablo bulunmakta', N'tablo sayfasında eksik kolon bulunmakta', 2, 3, CAST(N'2016-10-30 00:00:00.000' AS DateTime), CAST(N'2016-11-06 00:00:00.000' AS DateTime), 4, 1, N'Hata', N'bakılacak')
INSERT [dbo].[Taskks] ([TaskID], [Name], [Description], [ProjectID], [SituaitionID], [StartDate], [EndDate], [EmployeeID], [ManagerID], [RequestType], [RequestTypeDescription]) VALUES (62, N'Sayfa FeedBack butonu çalışmamakta', N'sayfadaki feedback butonu aktif edilecek', 2, 2, CAST(N'2016-10-30 00:00:00.000' AS DateTime), CAST(N'2016-11-04 00:00:00.000' AS DateTime), 4, 1, N'Hata', N'kontrol edilecek')
SET IDENTITY_INSERT [dbo].[Taskks] OFF
/****** Object:  Index [IX_AcoountTypeID]    Script Date: 30.10.2016 20:38:50 ******/
CREATE NONCLUSTERED INDEX [IX_AcoountTypeID] ON [dbo].[Employees]
(
	[AcoountTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Employee_EmployeeID]    Script Date: 30.10.2016 20:38:50 ******/
CREATE NONCLUSTERED INDEX [IX_Employee_EmployeeID] ON [dbo].[ProjectEmployees]
(
	[Employee_EmployeeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Project_ProjectID]    Script Date: 30.10.2016 20:38:50 ******/
CREATE NONCLUSTERED INDEX [IX_Project_ProjectID] ON [dbo].[ProjectEmployees]
(
	[Project_ProjectID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_CustomerID]    Script Date: 30.10.2016 20:38:50 ******/
CREATE NONCLUSTERED INDEX [IX_CustomerID] ON [dbo].[Projects]
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_EmployeeID]    Script Date: 30.10.2016 20:38:50 ******/
CREATE NONCLUSTERED INDEX [IX_EmployeeID] ON [dbo].[Projects]
(
	[EmployeeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_SituaitionID]    Script Date: 30.10.2016 20:38:50 ******/
CREATE NONCLUSTERED INDEX [IX_SituaitionID] ON [dbo].[Projects]
(
	[SituaitionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Taskk_TaskID]    Script Date: 30.10.2016 20:38:50 ******/
CREATE NONCLUSTERED INDEX [IX_Taskk_TaskID] ON [dbo].[Projects]
(
	[Taskk_TaskID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_EmployeeID]    Script Date: 30.10.2016 20:38:50 ******/
CREATE NONCLUSTERED INDEX [IX_EmployeeID] ON [dbo].[Taskks]
(
	[EmployeeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ManagerID]    Script Date: 30.10.2016 20:38:50 ******/
CREATE NONCLUSTERED INDEX [IX_ManagerID] ON [dbo].[Taskks]
(
	[ManagerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ProjectID]    Script Date: 30.10.2016 20:38:50 ******/
CREATE NONCLUSTERED INDEX [IX_ProjectID] ON [dbo].[Taskks]
(
	[ProjectID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_SituaitionID]    Script Date: 30.10.2016 20:38:50 ******/
CREATE NONCLUSTERED INDEX [IX_SituaitionID] ON [dbo].[Taskks]
(
	[SituaitionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Employees]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Employees_dbo.AccountTypes_AcoountTypeID] FOREIGN KEY([AcoountTypeID])
REFERENCES [dbo].[AccountTypes] ([AccountTypeID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Employees] CHECK CONSTRAINT [FK_dbo.Employees_dbo.AccountTypes_AcoountTypeID]
GO
ALTER TABLE [dbo].[ProjectEmployees]  WITH CHECK ADD  CONSTRAINT [FK_dbo.EmployeeProjects_dbo.Employees_Employee_EmployeeID] FOREIGN KEY([Employee_EmployeeID])
REFERENCES [dbo].[Employees] ([EmployeeID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProjectEmployees] CHECK CONSTRAINT [FK_dbo.EmployeeProjects_dbo.Employees_Employee_EmployeeID]
GO
ALTER TABLE [dbo].[ProjectEmployees]  WITH CHECK ADD  CONSTRAINT [FK_dbo.EmployeeProjects_dbo.Projects_Project_ProjectID] FOREIGN KEY([Project_ProjectID])
REFERENCES [dbo].[Projects] ([ProjectID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProjectEmployees] CHECK CONSTRAINT [FK_dbo.EmployeeProjects_dbo.Projects_Project_ProjectID]
GO
ALTER TABLE [dbo].[Projects]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Projects_dbo.Customers_CustomerID] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customers] ([CustomerID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Projects] CHECK CONSTRAINT [FK_dbo.Projects_dbo.Customers_CustomerID]
GO
ALTER TABLE [dbo].[Projects]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Projects_dbo.Employees_EmployeeID] FOREIGN KEY([EmployeeID])
REFERENCES [dbo].[Employees] ([EmployeeID])
GO
ALTER TABLE [dbo].[Projects] CHECK CONSTRAINT [FK_dbo.Projects_dbo.Employees_EmployeeID]
GO
ALTER TABLE [dbo].[Projects]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Projects_dbo.Situaitions_situaition_SituationID] FOREIGN KEY([SituaitionID])
REFERENCES [dbo].[Situaitions] ([SituationID])
GO
ALTER TABLE [dbo].[Projects] CHECK CONSTRAINT [FK_dbo.Projects_dbo.Situaitions_situaition_SituationID]
GO
ALTER TABLE [dbo].[Projects]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Projects_dbo.Taskks_Taskk_TaskID] FOREIGN KEY([Taskk_TaskID])
REFERENCES [dbo].[Taskks] ([TaskID])
GO
ALTER TABLE [dbo].[Projects] CHECK CONSTRAINT [FK_dbo.Projects_dbo.Taskks_Taskk_TaskID]
GO
ALTER TABLE [dbo].[Taskks]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Taskks_dbo.Employees_EmployeeID] FOREIGN KEY([EmployeeID])
REFERENCES [dbo].[Employees] ([EmployeeID])
GO
ALTER TABLE [dbo].[Taskks] CHECK CONSTRAINT [FK_dbo.Taskks_dbo.Employees_EmployeeID]
GO
ALTER TABLE [dbo].[Taskks]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Taskks_dbo.Employees_ManagerID] FOREIGN KEY([ManagerID])
REFERENCES [dbo].[Employees] ([EmployeeID])
GO
ALTER TABLE [dbo].[Taskks] CHECK CONSTRAINT [FK_dbo.Taskks_dbo.Employees_ManagerID]
GO
ALTER TABLE [dbo].[Taskks]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Taskks_dbo.Projects_ProjectID] FOREIGN KEY([ProjectID])
REFERENCES [dbo].[Projects] ([ProjectID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Taskks] CHECK CONSTRAINT [FK_dbo.Taskks_dbo.Projects_ProjectID]
GO
ALTER TABLE [dbo].[Taskks]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Taskks_dbo.Situaitions_SituaitionID] FOREIGN KEY([SituaitionID])
REFERENCES [dbo].[Situaitions] ([SituationID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Taskks] CHECK CONSTRAINT [FK_dbo.Taskks_dbo.Situaitions_SituaitionID]
GO
USE [master]
GO
